<ion-header class="sc-ion-card-ios-h m-0 pt-3">
  <ion-grid class="p-0">
    <ion-row class="align-items-center">
      <ion-col size="8" class="p-0">
        <h5 class="mb-0 pl-3">Пошук товарів</h5>
      </ion-col>
      <ion-col class="ion-text-end ion-no-padding p-0" size="3" class="justify-content-end">
        <ion-button shape="round" expand="block" color="medium" fill="outline" size="small" class="float-right"  (click)="dismiss()">
          <ion-icon slot="icon-only" color="dark" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Назва товару" type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-grid *ngIf="loading">
    <ion-row class="justify-content-center">
      <ion-spinner name="bubbles" color="success"></ion-spinner>
    </ion-row>
  </ion-grid>
  
  <ion-list *ngIf="!loading">
      <!-- <ion-item *ngFor="let item of products">{{ item.name }}</ion-item> -->
      <ion-grid *ngFor="let product of products" class="border-top bg-white">
        <ion-row >
          <ion-col (click)="openProduct(product)" size="3" class="pt-0 d-flex align-items-center justify-content-center">
            <ion-img class="cart-image-box" src="{{product.main_image?product.main_image.url:'https://foodforlife.com.ua/storage/15802/5ec46f4e87ba4_chef-with-hat.svg'}}"></ion-img>
          </ion-col>
          <ion-col>
            <ion-row (click)="openProduct(product)">
              <ion-text class="overflow-dots-search">
                <small> {{product.name}} </small>
              </ion-text>
            </ion-row>
            <ion-row class="align-items-center">
              <ion-col class="p-0" (click)="openProduct(product)">
                <ion-row class="line-height-1">
                  <ion-text>
                    <small class="text-bold"> 
                    {{product.price}}
                    </small>
                  </ion-text>
                </ion-row>
                <ion-row class="line-height-1">
                  <ion-text *ngIf="product.data.length == 0">
                    <small class="text-muted invisible" >0</small>
                  </ion-text>
                  <ion-text *ngFor="let attribute of product.data">
                    <small class="text-muted" *ngIf="attribute.term == 'Вага'" >{{attribute.value}}</small>
                  </ion-text>
                </ion-row>
              </ion-col>
              <ion-col class="pt-3 text-right pr-3">
                <ion-row class="p-0">
                  <ion-col size="6" class="p-0">
                    <ion-button (click)="addToWishlist(product,this)"  fill="outline" shape="round" color="medium" class="ion-no-padding">
                      <ion-icon slot="icon-only" [color]="product.added==true?'danger':'medium'"  name="heart" class="p-2"></ion-icon>
                    </ion-button>
                </ion-col>
                  <ion-col size="6" class="ion-text-right p-0">
                    <ion-button (click)="addToCart(product)" fill="outline" shape="round" color="medium" class="ion-no-padding ion-padding-end">
                      <span class="text-success ">+</span><ion-icon class="pt-2 pb-2 pl-2 pr-0" slot="icon-only" color="success" name="cart"></ion-icon>
                    </ion-button>
                </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-list>

</ion-content>
