<ion-header class="pt-1">
  <ion-grid class="p-0">
    <ion-row>
      <ion-col size="8" class="p-0">
        <ion-searchbar class="pr-0" (click)="openSearch()" placeholder="Пошук"></ion-searchbar>
      </ion-col>
      <ion-col class="ion-text-end ion-no-padding p-0" size="2" class="justify-content-end">
        <ion-button fill="clear" (click)="openWishlist()">
          <ion-icon slot="icon-only" color="success" name="heart"></ion-icon>
          <ion-badge color="success" class="badge-for-wishlist">{{ wishlistItemCount | async }}</ion-badge>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-end ion-no-padding p-0" size="2" class="justify-content-end">
        <ion-button fill="clear" (click)="Account()" >
          <ion-icon slot="icon-only" color="success" name="person"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  
    <div class="bg-white">
      <ion-grid class="p-0">
        <ion-row>
          <ion-col size="6" class="p-0">
      <ion-button (click)="goBack()" routerDirection="back" fill="clear" size="small" class="mb-0" >
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
       <span class="text-capitalize"  *ngIf="category.parent != null">  {{category.parent.name}} </span>
       <span class="text-capitalize"  *ngIf="category.parent == null">  Назад </span>
      </ion-button>
    </ion-col>
      <ion-col size="6" class="p-0">
        <ion-select placeholder="{{term}}" (ionChange)="Sort($event.target.value)" cancelText="Відмінити" interface="action-sheet">
          <ion-select-option  >Спочатку дешеві</ion-select-option>
          <ion-select-option  >Спочатку дорогі</ion-select-option>
          <ion-select-option selected >За популярністю</ion-select-option>
        </ion-select>
    </ion-col>
    
        </ion-row>
        </ion-grid>

    </div>
    <!-- <div *ngIf=" sub.length < 1 " > -->

      <!-- <ion-text class="">
        <h4 class="ion-padding-start pt-3 mb-0">{{category.name}}</h4>
      </ion-text> -->
  
      <!-- <ion-slides class="pr-3 pl-3" [options]="{ slidesPerView: 1.8, spaceBetween: 10, centeredSlides: false }">
        <ion-slide *ngFor="let product of category.categories_products; let i = index">

        <ion-card class="ml-0 mr-0">
          <ion-card-header>
            <img src="{{product.main_image.url}}" />
          </ion-card-header>
          
  
          <ion-card-content class="p-2">
            <ion-grid>
              <ion-row>
                <ion-col class="overflow-dots text-black">
                    <small>{{product.name}}</small>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col class="ion-text-left">
                  <ion-text>
                    <h2 class="text-bold text-black">{{product.price}}$</h2>
                  </ion-text>
                  <ion-text>
                    <h3 class="">100gr</h3>
                  </ion-text>
                </ion-col>
              </ion-row>
  
              <ion-row>
                  <ion-col class="ion-text-right">
                    <ion-button fill="outline" shape="round" color="medium" class="">
                      <span class="text-success">+</span><ion-icon slot="icon-only" color="success" name="cart"></ion-icon>
                    </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        </ion-slide>
      </ion-slides> -->
      
        <ion-grid class="p-0 border-top">
          <ion-row>
            <ion-col size="6" class="bg-white p-0 border border-top-0 border-left-0" *ngFor="let product of items" >
              <div class="ml-0 mr-0" >
                <div class="p-2" (click)="showProduct(product)">
                  <img class="img-box-sizing" src="{{product.main_image?product.main_image.url:'https://foodforlife.com.ua/storage/15802/5ec46f4e87ba4_chef-with-hat.svg'}}" />
                </div>
                
        
                <div class="p-2">
                  <ion-grid class="p-0">
                    <ion-row (click)="showProduct(product)">
                      <ion-col class="overflow-dots text-black">
                          <small>{{product.name}}</small>
                      </ion-col>
                    </ion-row>
                    
                    <ion-row>
                      <ion-col class="ion-text-left">
                        <ion-text>
                          <h6 class="mb-0 text-bold text-black">{{product.price}}$</h6>
                        </ion-text>
                        <ion-text *ngIf="product.data.length == 0">
                          <small class="text-muted invisible" >0</small>
                        </ion-text>
                        <ion-text *ngFor="let attribute of product.data">
                          <small class="text-muted" *ngIf="attribute.term == 'Вага'" >{{attribute.value}}</small>
                        </ion-text>
                      </ion-col>
                    </ion-row>
        
                    <ion-row class="p-0">
                      <ion-col size="3" class="p-0">
                        <ion-button (click)="addToWishlist(product,this)"  fill="outline" shape="round" color="medium" class="ion-no-padding">
                          <ion-icon slot="icon-only" [color]="product.added==true?'danger':'medium'"  name="heart" class="p-2"></ion-icon>
                        </ion-button>
                    </ion-col>
                      <ion-col size="9" class="ion-text-right p-0">
                        <ion-button (click)="addToCart(product)" fill="outline" shape="round" color="medium" class="ion-no-padding ion-padding-end">
                          <span class="text-success ">+</span><ion-icon class="pt-2 pb-2 pl-2 pr-0" slot="icon-only" color="success" name="cart"></ion-icon>
                        </ion-button>
                    </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid> 
        <!-- <ion-item *ngFor="let item of items">{{item.name}}</ion-item> -->
  
      <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
        <ion-infinite-scroll-content
        class="pt-2"
          loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  

    <!-- </div> -->
 


</ion-content>
