<ion-header class="sc-ion-card-ios-h m-0 bg-white pt-1">
  <!-- <img id="logo" src="/assets/img/logo.svg"/> -->
    <ion-button shape="round" expand="block" color="medium" fill="outline" size="small" class="float-right"  (click)="close()">
      <ion-icon slot="icon-only" color="dark" name="close"></ion-icon>
    </ion-button>
</ion-header>

<ion-content fullscreen> 
  <div class="">
    <ion-list class="m-0 mb-2 border-bottom sc-ion-card-ios-h">

      <ion-list-header class="bg-white">
        Замовлення
      </ion-list-header>

      <ion-grid *ngFor="let order of orders" class="border-top bg-white">
        <ion-row>
              <ion-col size="6" class="p-2">
                <ion-row class="line-height-1">
                  <ion-text>
                    Замовлення № {{order.id}}
                  </ion-text>
                </ion-row>
                <ion-row class="line-height-1">
                  <ion-text>
                      {{order.store}}
                  </ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="6" class="p-0 text-right pr-3">
                <ion-button fill="outline" shape="round" color="success" class="" >
                  <span class="p-1">Виконане</span>   
                </ion-button>
              </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
  </div>
 
</ion-content>