<ion-header >
  <ion-searchbar placeholder="Пошук"></ion-searchbar>
  <ion-item class="ion-no-padding" color="light">
    <ion-text class="ion-padding-start">
      <h5 class="pt-3">Каталог товарів</h5>
    </ion-text>
</ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="">
 
    
    <ion-list class="ion-no-padding bg-white mb-0 pb-4">
          <ion-item button (click)="openProducts(category.id)" color="light"  *ngFor="let category of categories">
            <ion-icon slot="start" icon="/assets/img/appicon.svg" class="component-icon component-icon-primary"></ion-icon>
            <ion-label>
              <h3>{{ category.name }}</h3>
            </ion-label>
          </ion-item>
    </ion-list>
    </div>
</ion-content>
