<ion-header class="pt-3">
  <ion-grid class="p-0">
    <ion-row>
      <ion-col size="8" class="p-0">
        <ion-searchbar class="pr-0" (click)="openSearch()" placeholder="Пошук"></ion-searchbar>
      </ion-col>
      <ion-col class="ion-text-end ion-no-padding p-0" size="2" class="justify-content-end">
        <ion-button fill="clear" (click)="openWishlist()">
          <ion-icon slot="icon-only" color="success" name="heart"></ion-icon>
          <ion-badge color="success" class="badge-for-wishlist">{{ recipeItemCount | async }}</ion-badge>
        </ion-button>
      </ion-col>
      <ion-col class="p-0 ion-text-end ion-no-padding p-0" size="2" class="justify-content-end">
        <ion-button fill="clear" (click)="Account()" >
          <ion-icon slot="icon-only" color="success" name="person"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  
        <ion-grid class="pt-0 bg-white h-100">
          <ion-row class="mb-5">
            <ion-col size="6" class="bg-white" *ngFor="let recipe of items">
              <ion-card class="ml-0 mr-0" >
                <ion-card-header (click)="openRecipe(recipe.id)">
                  <img class="img-box-sizing" src="{{recipe.main_image.url}}" />
                </ion-card-header>
                
        
                <ion-card-content class="p-2">
                  <ion-grid>
                    <ion-row (click)="openRecipe(recipe.id)">
                      <ion-col class="overflow-dots text-black">
                          <small>{{recipe.name}}</small>
                      </ion-col>
                    </ion-row>
        
                    <ion-row>
                        <ion-col class="ion-text-center" >
                          <ion-button (click)="addRecipeToWishlist(recipe)"  fill="outline" shape="round" color="medium" class="ion-no-padding">
                            <ion-icon slot="icon-only" [color]="recipe.added==true?'danger':'medium'"  name="heart" class="p-2"></ion-icon>
                          </ion-button>
                        </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid> 
  
      <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
        <ion-infinite-scroll-content
        class="pt-2"
          loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
 


</ion-content>
